
@{
    Layout = null;   
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>eStore @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/animate.css">

    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/aos.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/e-commerce/minishop/css/style.css">
    <link href="~/head/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/e-commerce/logo/head_icon.ico"/>
    <link href="~/head/spinnerEcommerce.css" rel="stylesheet" />
    @RenderSection("head",false)
</head>
<body class="goto-here">
    
    @*<div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+ 1235 2355 98</span>  <!--Telefon nomresin yazmaq-->
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">youremail@email.com</span>  <!--Mail-i yazmaq-->
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Business days delivery &amp; Free Returns</span> <!--istense her hansi bir melumat yazmaq-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!--Begin nav-->
    <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <!--Adi baza ile vermek-->
            @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
            {
                int i = 0;
                foreach (var name in db.Generals.ToList())
                {
                    if (name.MailName == null)
                    {
                        if (i != db.Generals.Count()-1)
                        {
                            i++;
                            continue;
                        }
                        else if (i == db.Generals.Count()-1)
                        {
                            <a class="navbar-brand" href="/Home/Index">Minishop</a>
                            break;
                        }
                    }
                    else if (name.MailName != null)
                    {
                        <a class="navbar-brand" href="/Home/Index">@name.MailName</a>
                        break;
                    }   
                }
            }
            <!--End Adi baza ile vermek-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link">Ana səhifə</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kateqoriyalar</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                                        
                            <a class="dropdown-item" href="/Home/AllProduct">Bütün məhsullar</a>
                                        <!-- ForEach -->
                            
                            @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                            {
                                foreach (var cat in db.categories.ToList())
                                {
                                    <a class="dropdown-item" href="/Home/ProductofCategory/@cat.id">@cat.CategoryName</a>
                                }
                            }
                                      <!-- ./ForEach -->
                            <!--Heleki lazin deyil-->
                            @*<a class="dropdown-item" href="cart.html">Cart</a>*@
                            @*<a class="dropdown-item" href="checkout.html">Checkout</a>*@

                        </div>
                    </li>
                 
                    @*<li class="nav-item"><a href="about.html" class="nav-link">Haqqımızda</a></li>*@
                    @*<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>*@
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Əlaqə</a></li>
                    <!--Sebet hisse-->
                    @*<li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    
       <!--Bacground-->
    @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
    {
        int i = 0;
        foreach (var bg in db.Generals.ToList())
        {
            if (bg.bgImage == null)
            {
                if (i != db.Generals.Count() - 1)
                {
                    i++;
                    continue;
                }
                else if (i == db.Generals.Count() - 1)
                {
                    <div class="hero-wrap hero-bread" style="background-image: url('/Content/e-commerce/minishop/images/bg_6.jpg');">
                        <!--backend-i admin panelle vermek-->
                        <div class="container">
                            <div class="row no-gutters slider-text align-items-center justify-content-center">
                                <div class="col-md-9 ftco-animate text-center">
                                    @*<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact</span></p>*@
                                    @*<h1 class="mb-0 bread">Contact Us</h1>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (bg.bgImage != null)
            {
                <div class="hero-wrap hero-bread" style="background-image: url('@bg.bgImage');">
                    <!--backend-i admin panelle vermek-->
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center justify-content-center">
                            <div class="col-md-9 ftco-animate text-center">
                                @*<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact</span></p>*@
                                @*<h1 class="mb-0 bread">Contact Us</h1>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
    
    <!--./Bacground-->
    
    
    <!--Whatsapp  icon-->
    @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
    {
        int i = 0;
        foreach (var wp in db.Generals.ToList())
        {
            if (wp.wpLink == null)
            {
                if (i != db.Generals.Count() - 1)
                {
                    i++;
                    continue;
                }
                else if (i == db.Generals.Count() - 1)
                {
                    <a href="https://wa.me/994518432575" target="_blank">
                        <img src="~/Content/e-commerce/minishop/icon/wp.ico" id="back-to-top" class="back-to-top" style="display: inline;" />
                    </a>
                    break;
                }
            }
            else if (wp.wpLink != null)
            {
                <a href="@wp.wpLink" target="_blank">
                    <img src="~/Content/e-commerce/minishop/icon/wp.ico" id="back-to-top" class="back-to-top" style="display: inline;" />
                </a>
                break;
            }
        }
    }
    
    <!--./Whatsapp icon-->
    
    <!--Main area-->

    @RenderBody()
    
    <!--Main area end-->

    <!--Footer begin-->
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <!----------------------------------Name site in footer------------------------------------------------------------->
                        @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                        {
                            int i = 0;
                            foreach (var name in db.Generals.ToList())
                            {
                                if (name.MailName == null)
                                {
                                    if (i != db.Generals.Count() - 1)
                                    {
                                        i++;
                                        continue;
                                    }
                                    else if (i == db.Generals.Count() - 1)
                                    {
                                        <h2 class="ftco-heading-2" style="text-align:center;">Minishop</h2>
                                        break;
                                    }
                                }
                                else if (name.MailName != null)
                                {
                                    <h2 class="ftco-heading-2" style="text-align:center;">@name.MailName</h2>
                                    break;
                                }
                            }
                        }
                        <!----------------------------------End Name site in footer------------------------------------------------------------->

                        <!----------------------------------------Footer text------------------------------------------------------------------->
                        @using (eShop.Models.eShopContext db=new eShop.Models.eShopContext())
                        {
                            foreach (var ft in db.Generals.ToList())
                            {
                                if (ft.FooterText == null)
                                {
                                    continue;
                                }
                                else if (ft.FooterText!=null)
                                {
                                    <p>@ft.FooterText</p>
                                    break;
                                }
                            }
                        }
                        <!----------------------------------------Footer text------------------------------------------------------------------->

                        @*<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>*@
                    </div>
                </div>
                @*<div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            </ul>
        </div>
    </div>*@
    @*<div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Help</h2>
            <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sualınız var?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                @*<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>*@
                                <!----------------------------------------Phone number----------------------------------------------------------->
                                @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                                {
                                    int i = 0;
                                    foreach (var tel in db.Generals.ToList())
                                    {
                                        if (tel.Phone == null)
                                        {
                                            if (i != db.Generals.Count() - 1)
                                            {
                                                i++;
                                                continue;
                                            }
                                            else if (i == db.Generals.Count() - 1)
                                            {
                                                <li><a style="color:#b6813a;" href="tel:+9940123345678"><span class="icon icon-phone"></span><span class="text" style="color:#ffd800;">+994 012 334 56 78</span></a></li>
                                                break;
                                            }
                                        }
                                        else if (tel.Phone != null)
                                        {
                                            <li><a style="color:#b6813a;" href="tel:@tel.Phone"><span class="icon icon-phone"></span><span class="text" style="color:#ffd800;">@tel.Phone</span></a></li>
                                            break;
                                        }
                                    }
                                }
                                <!----------------------------------------End Phone number----------------------------------------------------------->

                                <!----------------------------------------Email----------------------------------------------------------->
                                @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                                {
                                    int i = 0;
                                    foreach (var em in db.EmailSettings.ToList())
                                    {
                                        if (em.eMail == null)
                                        {
                                            if (i != db.EmailSettings.Count() - 1)
                                            {
                                                i++;
                                                continue;
                                            }
                                            else if (i == db.EmailSettings.Count() - 1)
                                            {
                                                <li><a style="color:#b6813a;" href="mailto:info@yourdomain.com"><span class="icon icon-envelope"></span><span class="text" style="color:#ffd800;">info@yourdomain.com</span></a></li>
                                                break;
                                            }
                                        }
                                        else if (em.eMail != null)
                                        {
                                            <li><a style="color:#b6813a;" href="mailto:@em.eMail"><span class="icon icon-envelope"></span><span class="text" style="color:#ffd800;">@em.eMail</span></a></li>
                                        }
                                    }
                                }
                                <!----------------------------------------End Email----------------------------------------------------------->

                                <!-------------------------------------------Facebook--------------------------------------------------------->
                                @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                                {
                                    int i = 0;
                                    foreach (var fb in db.Generals.ToList())
                                    {
                                        if (fb.fbLink == null)
                                        {
                                            if (i != db.Generals.Count() - 1)
                                            {
                                                i++;
                                                continue;
                                            }
                                            else if (i == db.Generals.Count() - 1)
                                            {
                                                <li><a style="color:#b6813a;" href="https://www.facebook.com/"><span class="icon icon-facebook"></span><span class="text" style="color:#ffd800;">Facebook</span></a></li>
                                                break;
                                            }
                                        }
                                        else if (fb.fbLink != null)
                                        {
                                            <li><a style="color:#b6813a;" href="@fb.fbLink"><span class="icon icon-facebook"></span><span class="text" style="color:#ffd800;">@fb.fbLink</span></a></li>
                                            break;
                                        }
                                    }
                                }
                                <!-------------------------------------------End Facebook----------------------------------------------------->
                                
                                <!---------------------------------------------Instagram------------------------------------------------------->
                                @using (eShop.Models.eShopContext db = new eShop.Models.eShopContext())
                                {
                                    int i = 0;
                                    foreach (var ins in db.Generals.ToList())
                                    {
                                        if (ins.insLink == null)
                                        {
                                            if (i != db.Generals.Count() - 1)
                                            {
                                                i++;
                                                continue;
                                            }
                                            else if (i == db.Generals.Count() - 1)
                                            {
                                                <li><a style="color:#b6813a;" href="https://www.instagram.com"><span class="icon icon-instagram"></span><span class="text" style="color:#ffd800;">#Instagram</span></a></li>
                                                break;
                                            }
                                        }
                                        else if (ins.insLink != null)
                                        {
                                            <li><a style="color:#b6813a;" href="@ins.insLink"><span class="icon icon-instagram"></span><span class="text" style="color:#ffd800;">@ins.eMail</span></a></li>
                                            break;
                                        }
                                    }
                                }
                                <!---------------------------------------------Instagram------------------------------------------------------->
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>/Elshad Afandiyev
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer end-->

    <!--loader begin-->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <!--loader end-->

    <!------------------------------------------------ Modal --------------------------------------------------------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Şikayət və təklifləriniz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="body">
                    <div class="form-group">
                        <div>
                            <label>Soyad</label><span style="color:red;">*</span>&nbsp;<input name="LastName" id="LastName" required class="form-control" />
                        </div>
                        <div>
                            <label>Ad</label><span style="color:red;">*</span>&nbsp;<input name="FirstName" id="FirstName" required class="form-control" />
                        </div>
                        <div>
                            <label>Telefon</label><span style="color:red;">*</span>&nbsp;<input name="Number" id="Number" required class="form-control" />
                        </div>
                        <div>
                            <label>E-mail</label><span style="color:red;">*</span>&nbsp;<input name="Email" id="Email" type="email" required class="form-control" />
                        </div>
                        <div>
                            <label>Mətn<span style="font-size:14px">(max:500 simvol)</span></label><span style="color:red;">*</span>
                            <textarea name="Text" id="Text" class="form-control" required></textarea>
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------- ./Modal ------------------------------>

    <!--scripts-->
    <script src="~/Content/e-commerce/minishop/js/jquery.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/popper.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/bootstrap.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery.stellar.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/owl.carousel.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/aos.js"></script>
    <script src="~/Content/e-commerce/minishop/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/e-commerce/minishop/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/e-commerce/minishop/js/scrollax.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>*@
    @*<script src="~/Content/e-commerce/minishop/js/google-map.js"></script>*@
    <script src="~/Content/e-commerce/minishop/js/main.js"></script>
    <script src="~/scripts/bootbox.min.js"></script>
    <script src="~/scripts/custom/custom.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    @RenderSection("scripts", false)
 </body>
</html>