
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared_Admin/_AdminLayout.cshtml";
}

@model List<eShop.Models.product>

<h2 class="basliq">Məhsullar</h2>
<br />
<a class="btn btn-success" href="/Admin/NewProduct">Yeni məhsul</a>
<br /><br />
<!-- Table -->
<div class="table table-responsive">
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Kateqoriya</th>
                <th>Məhsul</th>
                <th>Məhsul kodu</th>
                <th>İstehsalçı</th>
                <th>Açıqlama</th>
                <th>Rəsm</th>
                <th>Ölçü</th>
                <th>Sifarişlər</th>
                <th>Qiymət</th>
                <th>Endirim(%)</th>
                <th>Endirilmilş qiymət</th>
                <th>Yerləşdirmə zamanı</th>     
                <th>Edit</th>           
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var pr in Model)
            {
                <tr>
                    <td>@pr.category.CategoryName</td>
                    <td>@pr.ProductName</td>
                    <td>@pr.ProductCode</td>
                    <td>@pr.Manufacturer</td>
                    <td>
                        <a data-id="@pr.id" class="btn btn-secondary description" data-toggle="modal" data-target="#exampleModalProduct">Açıqlama</a>
                    </td>
                    <td>
                        <div><a class="btn" data-id="@pr.id" id="editImage" data-target="#exampleModalProduct" data-toggle="modal">
                                 <i class="fas fa-camera-retro"></i></a></div>
                    </td>
                    <td>
                        <button class="btn btn-success SizeButton" data-id="@pr.id" data-toggle="modal" data-target="#exampleModalProduct">
                           Ölçülərə bax
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success OrderButton" data-id="@pr.id" data-toggle="modal" data-target="#exampleModalProduct">
                           Sifarişlərə bax
                        </button>
                    </td>
                    <td>@pr.Price.ToString("#.##")<span>&nbsp; AZN</span></td>

                    <td>
                        @if (pr.Discount != null)
                        {
                            <span>@pr.Discount</span><span>%</span>
<a class="btn" id="discount" data-id="@pr.id" data-toggle="modal"data-target="#exampleModalProduct"><i class="fas fa-edit"></i></a>
                        }
                        else
                        {
                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="Endirim yoxdur">
                                <img src="~/Content/Admin/Resm/icon/error.ico" />
                            </span><a class="btn" id="discount" data-id="@pr.id" data-toggle="modal"data-target="#exampleModalProduct"><i class="fas fa-edit"></i></a>
                        }
                    </td>
                    <td>
                        @if (pr.DiscountedPrice != null)
                        {
                            <span>@String.Format("{0:N2}",pr.DiscountedPrice)</span><span>&nbsp; AZN</span>
                            
                        }
                        else
                        {
                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="Yoxdur">
                                <img src="~/Content/Admin/Resm/icon/error.ico" />
                            </span>
                        }
                    </td>
                    <td>@pr.CreatedDate</td>
                    <td><a class="btn btn-success btnEditProduct" data-id="@pr.id" data-toggle="modal" data-target="#exampleModalProduct">Edit</a></td>
                    <td><a class="btn btn-danger btnDeleteProduct" data-id="@pr.id">Delete</a></td>
                </tr>
            }
        </tbody>  
    </table>
</div>
<!-- ./Table  -->
<!------------------------------- Modal ----------------------------------------------------------->

<div class="modal fade " id="exampleModalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Məlumatları doldurun</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body">
                .....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@ <!--Ajax-nan vermek-->
            </div>
        </div>
    </div>
</div>


<!------------------------------- ./Modal ----------------------------------------------------------->


@section scripts{
    <script src="~/scripts/ProductScripts.js"></script>
    }
